.gif-card {
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: auto;
  overflow: hidden;
  font-size: 1rem;
  background: linear-gradient(45deg, #dfdfdf, whitesmoke);

  h1 {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px;
    margin: 12px;
    font-size: inherit;
    color: white;
    background: #1f1f1fee;
  }
}
