.feed-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: 1;
  background-color: #1f1f1fdd;
  backdrop-filter: blur(8px);

  .search {
    height: 42px;
    min-width: 100px;
    margin: 0 12px;
    flex-grow: 1;
    padding: 0 12px;
    border: none;
    font-size: 1rem;
    background-color: #5f5f5faa;
    color: white;
  }

  .toggle-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8px;
    color: #757575;

    input {
      margin: 0;
    }
  }
}
