.feed-header {
  display: flex;
  justify-content: center;
  width: 100vw;
  position: absolute;
  background-color: #1f1f1fbb;
  backdrop-filter: blur(16px);
  top: 0;
  z-index: 1;
  pointer-events: none;

  input {
    outline: none;
    border: none;
    height: 42px;
    margin: 20px 0;
    width: 360px;
    padding: 0 20px;
    font-size: 1.2rem;
    background-color: #7c7c7caa;
    color: white;
    pointer-events: all;

    &::placeholder {
      color: white;
    }
  }
}

@media only screen and (max-width: 440px) {
  .feed-header input {
    width: calc(100vw - 4 * 20px);
  }
}
