.feed-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: absolute;
  background-color: #1f1f1fdd;
  top: 0;
  z-index: 1;
  backdrop-filter: blur(8px);

  .search {
    outline: none;
    border: none;
    height: 42px;
    width: 376px;
    padding: 0 12px;
    font-size: 1rem;
    background-color: #5f5f5faa;
    color: white;
  }

  .toggle-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    right: 300px;
    color: #757575;

    input {
      margin: 0;
    }
  }
}

@media only screen and (max-width: 440px) {
  .feed-header .search {
    width: calc(100vw - 4 * 12px);
  }
}
