.gif-wrapper {
  display: flex;

  .gif-card {
    position: relative;
    overflow: hidden;
    background: linear-gradient(45deg, #dfdfdf, whitesmoke);
    background-size: 200% 200%;
    font-size: 1rem;
    animation: wave 3s ease infinite;

    &:hover {
      .gif-link {
        transform: translateY(0px);
      }

      .h1 {
        z-index: 2;
      }
    }

    .dummy {
      display: none;
    }

    .gif {
      object-fit: cover;
    }

    .gif-link {
      $height: 100px;
      height: $height;
      display: flex;
      align-items: flex-end;
      position: absolute;
      width: 100%;
      bottom: 0px;
      left: 0px;
      background: linear-gradient(#1f1f1f00, #1f1f1f88);
      transform: translateY($height);
      transition: 0.2s ease transform;

      a {
        display: block;
        padding: 12px;
        color: white;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: inherit;
        text-decoration: underline;
      }
    }

    h1 {
      background: #1f1f1f;
      position: absolute;
      top: 0;
      right: 0;
      margin: 12px;
      font-size: inherit;
      color: white;
      padding: 4px;
    }
  }
}

@keyframes wave {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
