.gif-card {
  &:hover {
    .gif-link {
      transform: translateY(0px);
    }
  }

  .gif {
    object-fit: cover;
  }

  .gif-link {
    $height: 100px;
    height: $height;
    display: flex;
    align-items: flex-end;
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
    background: linear-gradient(#1f1f1f00, #1f1f1f88);
    transform: translateY($height);
    transition: 0.2s ease transform;

    a {
      display: block;
      padding: 12px;
      color: white;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: inherit;
      text-decoration: underline;
    }
  }
}
